*{
    margin:0;
    padding:0;
}

body,html{
    width:100%;
    height:100%;
    background: url(background.jpg) no-repeat;
    background-size:cover;
    font-family: 'Dosis', sans-serif;

}

.container{
    width:100%;
    height:100%;
    background:#3caea399;
}

.container h1{
    color:white;
    font-size:65px;
    font-weight:600;
    text-transform:uppercase;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container h1 span{
    display:block;
    background:#ED553B;
    padding:0 10px;   
}

.menu{
    position:absolute;
    top:40px;
    left:40px;
    overflow:hidden;
    width:40px;
}

.menu span{
    height:3px;
    display:block;
    margin:6px;
    width:100%;
    background:white;
}
