$theme-colors:(
    "primary":rgb(255, 166, 0)
);

$body-bg: #ededed;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

