<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        
        <div id="app">
            <button v-on:click = "toggleSeen">Message {{ status }}</button>
            <p v-if='seen'>{{ message }}</p>
        </div>
        
        
        <script src="../index.js"></script>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    
</body>
</html>